body{
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	background-size: 50%;
	background: linear-gradient(pink, white);
}
nav{
	margin-left: 20%;
}
a{
	color: #000;
	margin: 10%;
}
.titulo{
	font-size: 50px;
	margin-left: 42%;
}
.doce{
	font-size: 30px;
	margin-left: 30%;
}
img{
	width: 30%;
	margin-left: 30%;
	transition: width 1s;
}
img:hover{
	width: 50%;
}

